.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rbuildignore
DESCRIPTION
LICENSE
README.md
_book
_bookdown.yml
_bookdown_files
_build.sh
_deploy.sh
_output.yml
analysis.R
analysis2.R
book.bib
bookdown-demo.Rproj
byroo
css
data
figure
gitbook
header.tex
local_data
packages.bib
plot
plot_csv
preamble.tex
run.R
style.css
toc.css
tufte
